#document {
    background-color: #dadada
}

img {
	border: 0;
}

#scoreboard {
}

#scoreboard table {
    border: 1
    padding: 0
}

#scoreboard thead td {
    background-color: #467aa7
}
#scoreboard thead th {
    background-color: #467aa7
}

#scoreboard thead {
    color:#ffffff
}

#scoreboard tr.odd td {
    background-color: #eee
}

#scoreboard tr.even td {
    background-color: #aabadd
}

